<form action="/posts/create" method="POST" id="new-post-form" class="center post-form-container">
    <textarea name="content" rows="2" placeholder="Type here..."></textarea>
    <input type="submit" value="POST">
</form>