<link rel="stylesheet" href="/css/home.css" type="text/css" />
<div id="home-page">
    <aside id="groups">
    </aside>
    <timeline>
        <% if(locals.user) { %>
            <div id="heading" class="center">New Post ?</div>

            <section id="feed-posts">
                <%- include('./_form_post.ejs') -%>
            </section>

            <section class="divider">
            </section>

            <% } %>

                <section id="posts-section">
                    <ul id="posts-list-container">
                        <% for(let post of locals.posts) { %>
                            <%- include('./_post.ejs', {post: post}) -%>
                                <%}%>
                    </ul>
                </section>
    </timeline>

    <aside id="user-friends">
        <% for(let user of locals.all_users) { %>
            <div>
                <a href="/users/profile/<%= user._id %>">
                    <%= user['name'] %>
                </a>
            </div>
            <% } %>
    </aside>

</div>

<script src="/js/posts.js" type="text/javascript"></script>
<script src="/js/comments.js" type="text/javascript"></script>
<script src="/js/like.js" type="text/javascript"></script>