<div id="heading">Sign In</div>
<form action="/users/create-session" method="POST" class="post-form-container">
    <input type="email" placeholder="Your email" name="email" required>
    <input type="password" placeholder="Password" name="password" required>
    <input type="submit" value="Sign In">
</form>