$padding-x: 1rem;
$padding-y: 0.7rem;
$margin-x: 0.2rem;
$margin-y: 0.2rem;
$font-size-list-item: 0.9rem;
header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: rgb(51, 51, 51);
    color: white;
    font-family: monospace;
}

#app-heading {
    font-weight: bolder;
    width: auto;
    letter-spacing: 0.1rem;
    font-size: 1.8rem;
    padding: $padding-y $padding-x;
    margin: $margin-y $margin-x;
}

#nav-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    padding-inline-start: 0rem;
    padding: $padding-y $padding-x;
    margin: $margin-y $margin-x;
    li {
        display: inline-block;
        padding: 0.4rem 0.1rem 0.2rem;
        margin: 0.2rem 0.4rem;
        font-size: $font-size-list-item;
        a {
            color: white;
            //color: gray;
            text-decoration: none;
            font-weight: bold;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}