<div>
    <p>
        Hi
        <%= comment.user.name %> !
    </p>
    <p>
        Your comment <strong><%= comment.content %></strong> got published on Codeial!
    </p>
    <p>
        Thanks!
    </p>
</div>